<div class="device_frame confirm">
  <h1>予約フォーム</h1>
  <ol class="nav my-4">
    <li>1.確認</li>
    <li class="current">2.完了</li>
  </ol>
  <p class="confirm-date text-center mt-5">ご予約ありがとうございました。</p>
</div>