// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reservation-posts {
  padding: 30px 60px;
}
.reservation-posts table thead tr {
  border-top: 1px solid #eaedef;
  border-bottom: 1px solid #eaedef;
  text-align: center;
}
.reservation-posts table thead tr th {
  padding: 8px 15px;
  font-size: 14px;
  letter-spacing: 1px;
}
.reservation-posts table tbody tr td {
  padding: 10px;
  background: #eee;
}
.reservation-posts table tbody tr:nth-child(odd) td {
  background: #fff;
}
.confirm h1 {
  border-bottom: 1px solid black;
  text-align: center;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
}
.nav li {
  width: 100%;
  text-align: center;
  background-color: #DDDDDD;
  margin: 1px;
}
.current {
  background-color: #99FFFF!important;
}
.confirm dl {
  margin: 0 auto;
  width: 100%;
}
.confirm dl dt {
  float: left;
  width: 30%;
  margin-left: 30%;
}
.confirm-date {
  font-size: 1.25rem;
}
.confirm-btn {
  color: black!important;
  text-align: center;
  background-color: #EEEEEE;
  border-color: black;
}
.confirm-width {
  width: 160px;
}